<header>
    <div class="container">
        <div class="header-content">
            <a href="index.html" class="logo">
                <img src="assets/images/logos/png/Luxury_S&B_logo-06.png" alt="Shutters & Blinds Logo" class="logo-img">
            </a>
            <a href="index.html" class="gradient-logo-text">Luxury Shutters & Blinds</a>
            <nav id="primary-navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="quote.html">Quote</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                </ul>
            </nav>
            <button class="burger" aria-label="Toggle menu" aria-expanded="false" aria-controls="primary-navigation">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </button>
        </div>
    </div>
</header>
<div class="nav-overlay"></div>