<!-- components/header.html -->
<header>
    <div class="container">
        <div class="header-content">
            <a href="index.html" class="logo">
                <img src="assets/images/logos/png/Luxury_S&B_logo-06.png" alt="Shutters & Blinds Logo" class="logo-img">
            </a>
            <a href="index.html" class="gradient-logo-text">Luxury Shutters & Blinds</a>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="quote.html">Quote</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                </ul>
            </nav>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </div>
</header>
<div class="nav-overlay"></div>